
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
        <p class="intro-text">/riːsəːtʃ/</p>
                    <h1 class="brand-heading">Upscale</h1>
                    <p class="intro-text">An Innovative Business Technology Enterprise,<br>founded with the aim to quench the innate thirst of curiosity through Knowledge, Research and Creation.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Upscale</h2>
            <p>We conceive Ideas in Technology and facilitate Development and Successful birth of the Innovation to provide services that serve People in all spheres, from their Backyards, Markets, Healthcare, and Local Authorities to Defense Research<a href="#">of information</a></p>
    <p>We support open and massive exchange of information and strive in our efforts with continuous research on fields like BIG DATA and Artificial Intelligence.</p>
            <p>We strive to find and devise solutions through technology for the next big puzzle and in the process identify puzzles existing in our everyday lives, waiting to be solved.
</p>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Get Involved with  Upscale</h2>
                <p>You can be a part of this stream of Knowledge and Creativity. We have various Internships and Training programs for Students and exciting career opportunities for Professionals. To get involved, send in your resume to info@theupscale.in</p>
                <a href="career" class="btn btn-default btn-lg">Visit Career Page</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>You can always get in touch with us</h2>
            <p>Feel free to email us to provide some feedback on our work, give us suggestions for new Research and Products, or to just say hello!</p>
            <p><a href="mailto:dev-ops@theupscale.in">dev-ops@thupscale.in</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/theupscale" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/theupscale" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/116535009059838298816" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>
