@font-face {
	font-family: 'domino-font';
	src:url('../fonts/font-domino/domino-font3abd.eot?-fc9bke');
	src:url('../fonts/font-domino/domino-fontd41d.eot?#iefix-fc9bke') format('embedded-opentype'),
		url('../fonts/font-domino/domino-font3abd.woff?-fc9bke') format('woff'),
		url('../fonts/font-domino/domino-font3abd.ttf?-fc9bke') format('truetype'),
		url('../fonts/font-domino/domino-font3abd.svg?-fc9bke#domino-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'domino-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
	content: "\e600";
}
.icon-umbrella:before {
	content: "\e601";
}
.icon-notes:before {
	content: "\e602";
}
.icon-refresh:before {
	content: "\e603";
}
.icon-tools:before {
	content: "\e604";
}
.icon-settings:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-tablet:before {
	content: "\e607";
}
.icon-home:before {
	content: "\e608";
}
.icon-headphones:before {
	content: "\e609";
}
.icon-music:before {
	content: "\e60a";
}
.icon-player:before {
	content: "\e60b";
}
.icon-microphone:before {
	content: "\e60c";
}
.icon-delivery:before {
	content: "\e60d";
}
.icon-packing:before {
	content: "\e60e";
}
.icon-info:before {
	content: "\e60f";
}
.icon-global:before {
	content: "\e610";
}
.icon-trash:before {
	content: "\e611";
}
.icon-data:before {
	content: "\e612";
}
.icon-cooking:before {
	content: "\e613";
}
.icon-layout:before {
	content: "\e614";
}
.icon-remote:before {
	content: "\e615";
}
.icon-mobilephone:before {
	content: "\e616";
}
.icon-dictophone:before {
	content: "\e617";
}
.icon-remotecontrol:before {
	content: "\e618";
}
.icon-laptop:before {
	content: "\e619";
}
.icon-television:before {
	content: "\e61a";
}
.icon-desktop:before {
	content: "\e61b";
}
.icon-monoblock:before {
	content: "\e61c";
}
.icon-display:before {
	content: "\e61d";
}
.icon-timing:before {
	content: "\e61e";
}
.icon-diver:before {
	content: "\e61f";
}
.icon-shoes:before {
	content: "\e620";
}
.icon-hipster:before {
	content: "\e621";
}
.icon-kitchener:before {
	content: "\e622";
}
.icon-chaplin:before {
	content: "\e623";
}
.icon-device:before {
	content: "\e624";
}
.icon-camera:before {
	content: "\e625";
}
.icon-addtocart:before {
	content: "\e626";
}
.icon-removefromcart:before {
	content: "\e627";
}
.icon-boom:before {
	content: "\e628";
}
.icon-addtobook:before {
	content: "\e629";
}
.icon-book:before {
	content: "\e62a";
}
.icon-combik:before {
	content: "\e62b";
}
.icon-syringe:before {
	content: "\e62c";
}
.icon-food:before {
	content: "\e62d";
}
.icon-coctail:before {
	content: "\e62e";
}
.icon-sew:before {
	content: "\e62f";
}
.icon-bbq:before {
	content: "\e630";
}
.icon-tea:before {
	content: "\e631";
}
.icon-icecream:before {
	content: "\e632";
}
.icon-hotdog:before {
	content: "\e633";
}
.icon-cofee:before {
	content: "\e634";
}
.icon-image:before {
	content: "\e635";
}
.icon-gallery:before {
	content: "\e636";
}
.icon-picture:before {
	content: "\e637";
}
.icon-printer:before {
	content: "\e638";
}
.icon-faxlent:before {
	content: "\e639";
}
.icon-bag:before {
	content: "\e63a";
}
.icon-cartbag:before {
	content: "\e63b";
}
.icon-target:before {
	content: "\e63c";
}
.icon-speed:before {
	content: "\e63d";
}
.icon-chair:before {
	content: "\e63e";
}
.icon-crown:before {
	content: "\e63f";
}
.icon-evenlope:before {
	content: "\e640";
}
.icon-chating:before {
	content: "\e641";
}
.icon-smile:before {
	content: "\e642";
}
.icon-magic:before {
	content: "\e643";
}
.icon-grafics:before {
	content: "\e644";
}
.icon-buckettool:before {
	content: "\e645";
}
.icon-roller:before {
	content: "\e646";
}
.icon-pen:before {
	content: "\e647";
}
.icon-anglepen:before {
	content: "\e648";
}
.icon-angles:before {
	content: "\e649";
}
.icon-grid:before {
	content: "\e64a";
}
.icon-selecttool:before {
	content: "\e64b";
}
.icon-magnet:before {
	content: "\e64c";
}
.icon-spatula:before {
	content: "\e64d";
}
.icon-penglass:before {
	content: "\e64e";
}
.icon-brush:before {
	content: "\e64f";
}
.icon-eyedropper:before {
	content: "\e650";
}
.icon-duplicating:before {
	content: "\e651";
}
.icon-skull:before {
	content: "\e652";
}
.icon-penfull:before {
	content: "\e653";
}
.icon-inkwell:before {
	content: "\e654";
}
.icon-addnote:before {
	content: "\e655";
}
.icon-pencil:before {
	content: "\e656";
}
.icon-clip:before {
	content: "\e657";
}
.icon-lock:before {
	content: "\e658";
}
.icon-unlock:before {
	content: "\e659";
}
